<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangy.manage.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yangy.manage.entity.Log">
        <id column="log_id" property="logId"/>
        <result column="username" property="username"/>
        <result column="user_id" property="userId"/>
        <result column="desp" property="desp"/>
        <result column="ip" property="ip"/>
        <result column="type" property="type"/>
        <result column="method" property="method"/>
        <result column="menu" property="menu"/>
        <result column="url" property="url"/>
        <result column="ctime" property="ctime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id, username, user_id, desp, ip, type, method, menu, url, ctime
    </sql>

</mapper>
