<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangy.manage.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yangy.manage.entity.User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="gender" property="gender"/>
        <result column="avatar" property="avatar"/>
        <result column="pwd" property="pwd"/>
        <result column="salt" property="salt"/>
        <result column="wechat" property="wechat"/>
        <result column="sina" property="sina"/>
        <result column="qq" property="qq"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="ctime" property="ctime"/>
        <result column="locked" property="locked"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, username, gender, avatar, pwd, salt, wechat, sina, qq, phone, email, ctime, locked
    </sql>

</mapper>
