<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangy.manage.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.yangy.common.entity.User">
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="wechat" property="wechat" jdbcType="VARCHAR"/>
        <result column="sina" property="sina" jdbcType="VARCHAR"/>
        <result column="qq" property="qq" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="ctime" property="ctime" jdbcType="BIGINT"/>
        <result column="locked" property="locked" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,
        username,
        gender,
        avatar,
        pwd,
        salt,
        wechat,
        sina,
        qq,
        phone,
        email,
        ctime,
        locked
    </sql>

    <!--根据id查询-->
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user
        WHERE user_id = #{recordId}
    </select>


    <!--根据条件查询-->
    <select id="findByParam" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user
        <if test="user !=null">
            <where>
                <if test="user.userId != null">AND user_id = #{user.userId}</if>
                <if test="user.username != null and user.username !='' ">AND username like
                    CONCAT('%',#{user.username},'%')
                </if>
                <if test="user.gender != null">AND gender = #{user.gender}</if>
                <if test="user.avatar != null and user.avatar !='' ">AND avatar like CONCAT('%',#{user.avatar},'%')</if>
                <if test="user.pwd != null and user.pwd !='' ">AND pwd like CONCAT('%',#{user.pwd},'%')</if>
                <if test="user.salt != null and user.salt !='' ">AND salt like CONCAT('%',#{user.salt},'%')</if>
                <if test="user.wechat != null and user.wechat !='' ">AND wechat like CONCAT('%',#{user.wechat},'%')</if>
                <if test="user.sina != null and user.sina !='' ">AND sina like CONCAT('%',#{user.sina},'%')</if>
                <if test="user.qq != null and user.qq !='' ">AND qq like CONCAT('%',#{user.qq},'%')</if>
                <if test="user.phone != null and user.phone !='' ">AND phone like CONCAT('%',#{user.phone},'%')</if>
                <if test="user.email != null and user.email !='' ">AND email like CONCAT('%',#{user.email},'%')</if>
                <if test="user.ctime != null">AND ctime = #{user.ctime}</if>
                <if test="user.locked != null">AND locked = #{user.locked}</if>
            </where>
        </if>
        LIMIT 0,1
    </select>


    <!--根据id集合查询-->
    <select id="findByPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user
        <if test="user !=null">
            <where>
                <if test="user.userId != null">AND user_id = #{user.userId}</if>
                <if test="user.username != null and user.username !='' ">AND username like
                    CONCAT('%',#{user.username},'%')
                </if>
                <if test="user.gender != null">AND gender = #{user.gender}</if>
                <if test="user.avatar != null and user.avatar !='' ">AND avatar like CONCAT('%',#{user.avatar},'%')</if>
                <if test="user.pwd != null and user.pwd !='' ">AND pwd like CONCAT('%',#{user.pwd},'%')</if>
                <if test="user.salt != null and user.salt !='' ">AND salt like CONCAT('%',#{user.salt},'%')</if>
                <if test="user.wechat != null and user.wechat !='' ">AND wechat like CONCAT('%',#{user.wechat},'%')</if>
                <if test="user.sina != null and user.sina !='' ">AND sina like CONCAT('%',#{user.sina},'%')</if>
                <if test="user.qq != null and user.qq !='' ">AND qq like CONCAT('%',#{user.qq},'%')</if>
                <if test="user.phone != null and user.phone !='' ">AND phone like CONCAT('%',#{user.phone},'%')</if>
                <if test="user.email != null and user.email !='' ">AND email like CONCAT('%',#{user.email},'%')</if>
                <if test="user.ctime != null">AND ctime = #{user.ctime}</if>
                <if test="user.locked != null">AND locked = #{user.locked}</if>
            </where>
        </if>
        <if test="pageInfo != null">
            order by user_id desc
            <if test="pageInfo.offset != null and pageInfo.pageSize != null">
                LIMIT #{pageInfo.offset}, #{pageInfo.pageSize}
            </if>
        </if>
    </select>


    <!--根据参数分页查询-->
    <select id="findByIdList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user
        WHERE id IN
        <foreach collection="idList" open="(" close=")" item="recordId" separator=",">
            #{recordId}
        </foreach>
    </select>


    <!--根据条件计数-->
    <select id="count" resultType="int">
        SELECT
        COUNT(id)
        FROM sys_user
        <where>
            <if test="userId != null">AND user_id = #{userId}</if>
            <if test="username != null and username !='' ">
                AND username like CONCAT('%',#{username},'%')
            </if>
            <if test="gender != null">AND gender = #{gender}</if>
            <if test="avatar != null and avatar !='' ">
                AND avatar like CONCAT('%',#{avatar},'%')
            </if>
            <if test="pwd != null and pwd !='' ">
                AND pwd like CONCAT('%',#{pwd},'%')
            </if>
            <if test="salt != null and salt !='' ">
                AND salt like CONCAT('%',#{salt},'%')
            </if>
            <if test="wechat != null and wechat !='' ">
                AND wechat like CONCAT('%',#{wechat},'%')
            </if>
            <if test="sina != null and sina !='' ">
                AND sina like CONCAT('%',#{sina},'%')
            </if>
            <if test="qq != null and qq !='' ">
                AND qq like CONCAT('%',#{qq},'%')
            </if>
            <if test="phone != null and phone !='' ">
                AND phone like CONCAT('%',#{phone},'%')
            </if>
            <if test="email != null and email !='' ">
                AND email like CONCAT('%',#{email},'%')
            </if>
            <if test="ctime != null">AND ctime = #{ctime}</if>
            <if test="locked != null">AND locked = #{locked}</if>
        </where>
    </select>


    <!--添加-->
    <insert id="save" parameterType="com.yangy.common.entity.User" useGeneratedKeys="true" keyProperty="user_id">
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username !=''">
                username,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="avatar != null and avatar !=''">
                avatar,
            </if>
            <if test="pwd != null and pwd !=''">
                pwd,
            </if>
            <if test="salt != null and salt !=''">
                salt,
            </if>
            <if test="wechat != null and wechat !=''">
                wechat,
            </if>
            <if test="sina != null and sina !=''">
                sina,
            </if>
            <if test="qq != null and qq !=''">
                qq,
            </if>
            <if test="phone != null and phone !=''">
                phone,
            </if>
            <if test="email != null and email !=''">
                email,
            </if>
            <if test="ctime != null">
                ctime,
            </if>
            <if test="locked != null">
                locked,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username !=''">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="avatar != null and avatar !=''">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null and pwd !=''">
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="salt != null and salt !=''">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null and wechat !=''">
                #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="sina != null and sina !=''">
                #{sina,jdbcType=VARCHAR},
            </if>
            <if test="qq != null and qq !=''">
                #{qq,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone !=''">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email !=''">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="ctime != null">
                #{ctime,jdbcType=BIGINT},
            </if>
            <if test="locked != null">
                #{locked,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--修改-->
    <update id="update" parameterType="com.yangy.common.entity.User">
        UPDATE sys_user
        <set>
            <if test="username != null and username !=''">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="avatar != null and avatar !=''">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null and pwd !=''">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="salt != null and salt !=''">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null and wechat !=''">
                wechat = #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="sina != null and sina !=''">
                sina = #{sina,jdbcType=VARCHAR},
            </if>
            <if test="qq != null and qq !=''">
                qq = #{qq,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone !=''">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email !=''">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="ctime != null">
                ctime = #{ctime,jdbcType=BIGINT},
            </if>
            <if test="locked != null">
                locked = #{locked,jdbcType=INTEGER},
            </if>
        </set>
        WHERE user_id = #{id}
    </update>

    <!--根据id删除-->
    <delete id="delById" parameterType="java.lang.Long">
        DELETE FROM sys_user
        WHERE user_id = #{id}
    </delete>

    <!--根据条件删除-->
    <delete id="delByUser" parameterType="com.yangy.common.entity.User">
        DELETE FROM sys_user
        WHERE user_id = #{recordId}
    </delete>


    <!--根据id集合删除-->
    <delete id="delByIdList">
        DELETE FROM sys_user
        WHERE user_id IN
        <foreach collection="idArr" open="(" close=")" item="recordId" separator=",">
            #{recordId}
        </foreach>
    </delete>

</mapper>